In [98]:
import pandas as pd
import os
import glob

In [99]:
# Define legend categories
legend_categories = {
    'Assault': ['Bangalore', 'Fuse', 'Ash', 'Mad Maggie', 'Ballistic'],
    'Skirmisher': ['Pathfinder', 'Wraith', 'Octane', 'Revenant', 'Horizon', 'Valkyrie','Alter'],
    'Recon': ['Bloodhound', 'Crypto', 'Seer', 'Vantage'],
    'Support': ['Gibraltar', 'Lifeline', 'Mirage', 'Loba', 'Newcastle', 'Conduit'],
    'Controller': ['Caustic', 'Wattson', 'Rampart', 'Catalyst']
}

In [100]:
# Flatten the dictionary to map legend to category
legend_to_category = {}
for category, legends in legend_categories.items():
    for legend in legends:
        legend_to_category[legend] = category

In [101]:
base_path = r'C:\Users\altaa\Documents\GitHub\Apex-Legends-Research\New Data For Legends'

damage_path = os.path.join(base_path, 'Legend Damage')
kills_path = os.path.join(base_path, 'Legend Kills')
matches_path = os.path.join(base_path, 'Legend Matches Played')
wins_path = os.path.join(base_path, 'Legend Wins')
# Function to list files in a directory
def list_files(directory):
    print(f"Files in {directory}:")
    for f in os.listdir(directory):
        print(f)

# List files in each directory
list_files(damage_path)
list_files(kills_path)
list_files(matches_path)
list_files(wins_path)

Files in C:\Users\altaa\Documents\GitHub\Apex-Legends-Research\New Data For Legends\Legend Damage:
Alter_damage.csv
Ash_damage.csv
Ballistic_damage.csv
Bangalore_damage.csv
Bloodhound_damage.csv
Catalyst_damage.csv
Caustic_damage.csv
Conduit_damage.csv
Crypto_damage.csv
Fuse_damage.csv
Gibraltar_damage.csv
Horizon_damage.csv
Lifeline_damage.csv
Loba_damage.csv
Mad Maggie_damage.csv
Mirage_damage.csv
Newcastle_damage.csv
Octane_damage.csv
Pathfinder_damage.csv
Rampart_damage.csv
Revenant_damage.csv
Seer_damage.csv
Valkyrie_damage.csv
Vantage_damage.csv
Wattson_damage.csv
Wraith_damage.csv
Files in C:\Users\altaa\Documents\GitHub\Apex-Legends-Research\New Data For Legends\Legend Kills:
Alter_kills.csv
Ash_kills.csv
Ballistic_kills.csv
Bangalore_kills.csv
Bloodhound_kills.csv
Catalyst_kills.csv
Caustic_kills.csv
Conduit_kills.csv
Crypto_kills.csv
Fuse_kills.csv
Gibraltar_kills.csv
Horizon_kills.csv
Lifeline_kills.csv
Loba_kills.csv
Mad Maggie_kills.csv
Mirage_kills.csv
Newcastle_kills.csv
Octane_kills.csv
Pathfinder_kills.csv
Rampart_kills.csv
Revenant_kills.csv
Seer_kills.csv
Valkyrie_kills.csv
Vantage_kills.csv
Wattson_kills.csv
Wraith_kills.csv
Files in C:\Users\altaa\Documents\GitHub\Apex-Legends-Research\New Data For Legends\Legend Matches Played:
Alter_games_played.csv
Ash_games_played.csv
Ballistic_games_played.csv
Bangalore_games_played.csv
Bloodhound_games_played.csv
Catalyst_games_played.csv
Caustic_games_played.csv
Conduit_games_played.csv
Crypto_games_played.csv
Fuse_games_played.csv
Gibraltar_games_played.csv
Horizon_games_played.csv
Lifeline_games_played.csv
Loba_games_played.csv
Mad Maggie_games_played.csv
Mirage_games_played.csv
Newcastle_games_played.csv
Octane_games_played.csv
Pathfinder_games_played.csv
Rampart_games_played.csv
Revenant_games_played.csv
Seer_games_played.csv
Valkyrie_games_played.csv
Vantage_games_played.csv
Wattson_games_played.csv
Wraith_games_played.csv
Files in C:\Users\altaa\Documents\GitHub\Apex-Legends-Research\New Data For Legends\Legend Wins:
Alter_wins.csv
Ash_wins.csv
Ballistic_wins.csv
Bangalore_wins.csv
Bloodhound_wins.csv
Catalyst_wins.csv
Caustic_wins.csv
Conduit_wins.csv
Crypto_wins.csv
Fuse_wins.csv
Gibraltar_wins.csv
Horizon_wins.csv
Lifeline_wins.csv
Loba_wins.csv
Mad Maggie_wins.csv
Mirage_wins.csv
Newcastle_wins.csv
Octane_wins.csv
Pathfinder_wins.csv
Rampart_wins.csv
Revenant_wins.csv
Seer_wins.csv
Valkyrie_wins.csv
Vantage_wins.csv
Wattson_wins.csv
Wraith_wins.csv

In [102]:
legend_dataframes = []

# Get a unique list of legends from the categories
legends = []
for legends_list in legend_categories.values():
    legends.extend(legends_list)

# Remove duplicates, if any
legends = list(set(legends))

legends

['Mad Maggie',
 'Wattson',
 'Bangalore',
 'Valkyrie',
 'Alter',
 'Newcastle',
 'Seer',
 'Conduit',
 'Loba',
 'Ballistic',
 'Mirage',
 'Catalyst',
 'Lifeline',
 'Vantage',
 'Rampart',
 'Gibraltar',
 'Caustic',
 'Wraith',
 'Horizon',
 'Bloodhound',
 'Revenant',
 'Octane',
 'Crypto',
 'Fuse',
 'Pathfinder',
 'Ash']

In [103]:
# import pandas as pd
# import os

# legend_kills_file = os.path.join(kills_path, f"{legend}_kills.csv")

# # Custom converter to handle numeric values and ignore non-numeric ones
# def convert_number(s):
#     try:
#         # Remove commas and quotes, then convert to integer
#         return int(str(s).replace(',', '').replace('"', '').strip())
#     except ValueError:
#         # Return NaN if conversion fails
#         return pd.NA

# # Read the CSV file, skipping the header if needed, or using header=0 to infer
# df_kills = pd.read_csv(legend_kills_file, header=0, names=['Kills'], converters={0: convert_number})

# # You can inspect the dataframe
# print(df_kills)

In [104]:
import os
import pandas as pd

# Get list of legends
legends = list(legend_to_category.keys())

# Initialize an empty list to hold dataframes for each legend
legend_dataframes = []

# Loop over each legend
for legend in legends:
    try:
        # Build file paths for the legend
        legend_damage_file = os.path.join(damage_path, f"{legend}_damage.csv")
        legend_kills_file = os.path.join(kills_path, f"{legend}_kills.csv")
        legend_matches_file = os.path.join(matches_path, f"{legend}_games_played.csv")  # Updated suffix
        legend_wins_file = os.path.join(wins_path, f"{legend}_wins.csv")
        
        # Check if all files exist
        for file_path in [legend_damage_file, legend_kills_file, legend_matches_file, legend_wins_file]:
            if not os.path.exists(file_path):
                print(f"Data file missing for legend '{legend}': {file_path}. Skipping this legend.")
                continue  # Skip this legend if any file is missing
        
        # Read the data files
        df_damage = pd.read_csv(legend_damage_file, header=None, names=['Damage'])
        df_matches = pd.read_csv(legend_matches_file, header=None, names=['Games Played'])
        df_wins = pd.read_csv(legend_wins_file, header=None, names=['Wins'])

        # Drop the first row if it's a header (based on your approach)
        df_damage = df_damage.drop(df_damage.index[0])
        df_matches = df_matches.drop(df_matches.index[0])
        df_wins = df_wins.drop(df_wins.index[0])
        
        # Custom converter to handle numeric values and ignore non-numeric ones
        def convert_number(s):
            try:
                # Remove commas and quotes, then convert to integer
                return int(str(s).replace(',', '').replace('"', '').strip())
            except ValueError:
                # Return NaN if conversion fails
                return pd.NA

        # Read the kills CSV file with the custom converter
        df_kills = pd.read_csv(legend_kills_file, header=0, names=['Kills'], converters={0: convert_number})

        # Combine the data into a single DataFrame, aligning on index (axis=1)
        df_legend = pd.concat([df_damage.reset_index(drop=True), 
                               df_kills.reset_index(drop=True), 
                               df_matches.reset_index(drop=True), 
                               df_wins.reset_index(drop=True)], axis=1)

        # Add 'legend_name' column to identify the legend in the combined DataFrame
        df_legend['legend_name'] = legend

        # Append the processed DataFrame to the list
        legend_dataframes.append(df_legend)
    
    except Exception as e:
        # Catch any exceptions during processing and print the error
        print(f"An error occurred while processing legend '{legend}': {e}")

legend_dataframes

[         Damage   Kills Games Played   Wins legend_name
 0    1335473024  192425        47418  15355   Bangalore
 1      50500034  177520        35645  14088   Bangalore
 2      48186631  172382        32770  13041   Bangalore
 3      45909908  170902        30597  12675   Bangalore
 4      45231990  168326        28659  12637   Bangalore
 ..          ...     ...          ...    ...         ...
 495    12207812   42522         8325   2422   Bangalore
 496    12206189   42420         8313   2421   Bangalore
 497    12187408   42397         8307   2419   Bangalore
 498    12183304   42366         8274   2419   Bangalore
 499    12182735   42338         8264   2417   Bangalore

 [500 rows x 5 columns],
        Damage  Kills Games Played  Wins legend_name
 0    25978220  94621        21979  5705        Fuse
 1    22871307  75600        18028  4890        Fuse
 2    20068143  68322        17543  4889        Fuse
 3    19015432  67357        17463  4260        Fuse
 4    18106947  67347        15589  4161        Fuse
 ..        ...    ...          ...   ...         ...
 495   4167187  10151         3102   459        Fuse
 496   4166283  10142         3102   458        Fuse
 497   4164600  10136         3099   458        Fuse
 498   4164598  10122         3098   458        Fuse
 499   4164491  10121         3097   458        Fuse

 [500 rows x 5 columns],
        Damage   Kills Games Played  Wins legend_name
 0    29613396  136634        26886  7655         Ash
 1    28656901  121329        17793  6431         Ash
 2    21876454  108153        15779  5281         Ash
 3    19411327  100338        13229  4662         Ash
 4    18818059   91582        12575  4524         Ash
 ..        ...     ...          ...   ...         ...
 495   4167817   13451         1956   664         Ash
 496   4159680   13398         1949   663         Ash
 497   4156578   13396         1949   662         Ash
 498   4154681   13394         1946   662         Ash
 499   4151407   13389         1946   662         Ash

 [500 rows x 5 columns],
        Damage   Kills Games Played  Wins legend_name
 0    30073619  121506        13026  7259  Mad Maggie
 1    14831207   56300        10342  3428  Mad Maggie
 2    13128013   50615         9864  3327  Mad Maggie
 3    13044145   49323         9748  3270  Mad Maggie
 4    12980936   48701         9551  2934  Mad Maggie
 ..        ...     ...          ...   ...         ...
 495   2921152    9976         1377   389  Mad Maggie
 496   2919619    9973         1376   389  Mad Maggie
 497   2918606    9931         1375   389  Mad Maggie
 498   2917777    9927         1374   388  Mad Maggie
 499   2912981    9877         1373   388  Mad Maggie

 [500 rows x 5 columns],
        Damage   Kills Games Played Wins legend_name
 0    28834714  123108        22799  NaN   Ballistic
 1    23147412   92108        15909  NaN   Ballistic
 2    20372568   91250        15736  NaN   Ballistic
 3    18061844   90301        15131  NaN   Ballistic
 4    16413870   71922         7907  NaN   Ballistic
 ..        ...     ...          ...  ...         ...
 495   1072138    4754          809  NaN   Ballistic
 496   1071034    4753          809  NaN   Ballistic
 497   1070402    4750          807  NaN   Ballistic
 498   1069947    4735          807  NaN   Ballistic
 499   1069362    4732          807  NaN   Ballistic

 [500 rows x 5 columns],
         Damage   Kills Games Played   Wins legend_name
 0    144537696  378931        41757  20719  Pathfinder
 1     81466652  193320        40910  11405  Pathfinder
 2     77160304  175630        40434  10984  Pathfinder
 3     50955470  174992        38340  10575  Pathfinder
 4     39720288  168568        34068  10575  Pathfinder
 ..         ...     ...          ...    ...         ...
 495   13428930   50157        10652   2720  Pathfinder
 496   13423901   50080        10646   2718  Pathfinder
 497   13420078   50043        10641   2718  Pathfinder
 498   13417381   50035        10640   2713  Pathfinder
 499   13414585   50020        10635   2711  Pathfinder

 [500 rows x 5 columns],
         Damage   Kills Games Played   Wins legend_name
 0    216111904  374333        53402  12001      Wraith
 1    126089104  233245        49437  11704      Wraith
 2     77971296  173744        47729  11444      Wraith
 3     59046465  163898        42993  11143      Wraith
 4     42672188  163176        39774  10628      Wraith
 ..         ...     ...          ...    ...         ...
 495   15172428   57689        12483   3077      Wraith
 496   15171843   57688        12480   3071      Wraith
 497   15164961   57688        12474   3069      Wraith
 498   15160879   57682        12473   3064      Wraith
 499   15149035   57672        12472   3062      Wraith

 [500 rows x 5 columns],
         Damage   Kills Games Played   Wins legend_name
 0    148596896  323200        40448  14210      Octane
 1    120066304  203377        37403  11969      Octane
 2     53839793  176678        37176  10895      Octane
 3     44454816  170084        37056  10107      Octane
 4     40900346  161762        32281  10096      Octane
 ..         ...     ...          ...    ...         ...
 495   11265153   40689         9162   2157      Octane
 496   11263093   40683         9158   2156      Octane
 497   11262674   40648         9144   2156      Octane
 498   11256643   40632         9128   2156      Octane
 499   11249516   40604         9120   2155      Octane

 [500 rows x 5 columns],
        Damage   Kills Games Played   Wins legend_name
 0    52536854  215057        32079  13666    Revenant
 1    41084856  152901        22532  10030    Revenant
 2    29900753  133959        19509   7858    Revenant
 3    28866675  133335        18280   6924    Revenant
 4    27434916  111031        18032   6081    Revenant
 ..        ...     ...          ...    ...         ...
 495   5764851   19319         3265    813    Revenant
 496   5762164   19298         3264    811    Revenant
 497   5750931   19276         3263    809    Revenant
 498   5745260   19229         3262    808    Revenant
 499   5744188   19185         3260    807    Revenant

 [500 rows x 5 columns],
        Damage   Kills Games Played   Wins legend_name
 0    67510470  341972        43604  17344     Horizon
 1    40636267  235985        36035  12053     Horizon
 2    35303292  154091        31757  10974     Horizon
 3    32884668  151873        31674   9769     Horizon
 4    31480108  143365        29481   8454     Horizon
 ..        ...     ...          ...    ...         ...
 495  10274709   39964         6607   2006     Horizon
 496  10266766   39908         6606   2006     Horizon
 497  10266520   39882         6598   2005     Horizon
 498  10242747   39824         6588   2005     Horizon
 499  10236145   39817         6581   2003     Horizon

 [500 rows x 5 columns],
        Damage   Kills Games Played  Wins legend_name
 0    36705986  169731        29097  7580    Valkyrie
 1    34982738  153928        27928  7504    Valkyrie
 2    29269496  124718        25038  6681    Valkyrie
 3    24276070  117392        22848  6661    Valkyrie
 4    22280171  115838        22737  6645    Valkyrie
 ..        ...     ...          ...   ...         ...
 495   7152547   25026         5010  1409    Valkyrie
 496   7151404   25018         5002  1408    Valkyrie
 497   7141379   24995         4996  1407    Valkyrie
 498   7136023   24981         4994  1406    Valkyrie
 499   7132178   24972         4991  1404    Valkyrie

 [500 rows x 5 columns],
        Damage  Kills Games Played Wins legend_name
 0    10233736  46882         6373  NaN       Alter
 1     5949824  32016         4261  NaN       Alter
 2     5809273  28082         4034  NaN       Alter
 3     5380957  27378         3852  NaN       Alter
 4     5129453  25879         3562  NaN       Alter
 ..        ...    ...          ...  ...         ...
 495    446581   2747          239  NaN       Alter
 496    446270   2743          239  NaN       Alter
 497    446218   2739          239  NaN       Alter
 498    445713   2729          239  NaN       Alter
 499    445092   2729          239  NaN       Alter

 [500 rows x 5 columns],
        Damage   Kills Games Played   Wins legend_name
 0    72279874  252763        55617  24015  Bloodhound
 1    70569104  243143        32213  16822  Bloodhound
 2    56078990  189112        30011  16044  Bloodhound
 3    48876930  161830        28413  11352  Bloodhound
 4    41003994  154164        27148   9984  Bloodhound
 ..        ...     ...          ...    ...         ...
 495   7486519   24675         6403   1249  Bloodhound
 496   7485932   24674         6396   1249  Bloodhound
 497   7484591   24644         6390   1249  Bloodhound
 498   7469409   24643         6388   1248  Bloodhound
 499   7468284   24628         6376   1247  Bloodhound

 [500 rows x 5 columns],
        Damage   Kills Games Played   Wins legend_name
 0    36853112  152308        36530  12247      Crypto
 1    35908812  128951        35429  12108      Crypto
 2    35526563  121819        27584  10494      Crypto
 3    27603589  112687        26799   8535      Crypto
 4    25315202  104432        25655   7711      Crypto
 ..        ...     ...          ...    ...         ...
 495   6229133   18280         3450    985      Crypto
 496   6222921   18266         3445    983      Crypto
 497   6220420   18264         3441    982      Crypto
 498   6208257   18264         3440    982      Crypto
 499   6205657   18263         3435    981      Crypto

 [500 rows x 5 columns],
        Damage   Kills Games Played   Wins legend_name
 0    21272939  100040        23424  10002        Seer
 1    20554929   91730        21507   6016        Seer
 2    20031488   85535        15318   5998        Seer
 3    19526723   71874        13905   4529        Seer
 4    17618758   69828        12384   4424        Seer
 ..        ...     ...          ...    ...         ...
 495   2675852    8612         1419    394        Seer
 496   2674855    8591         1419    394        Seer
 497   2671637    8555         1418    393        Seer
 498   2669380    8546         1418    393        Seer
 499   2668399    8535         1418    392        Seer

 [500 rows x 5 columns],
        Damage   Kills Games Played  Wins legend_name
 0    27348435  125625        15581  7242     Vantage
 1    17930679   84101        14830  4463     Vantage
 2    14055622   57429        12557  3711     Vantage
 3    13300409   57256        12231  3389     Vantage
 4    13018068   55121        11273  3294     Vantage
 ..        ...     ...          ...   ...         ...
 495   2432549    6871         1460   281     Vantage
 496   2430963    6867         1459   281     Vantage
 497   2422223    6862         1455   280     Vantage
 498   2419199    6858         1454   280     Vantage
 499   2407412    6853         1454   280     Vantage

 [500 rows x 5 columns],
        Damage   Kills Games Played   Wins legend_name
 0    37925242  151266        28632  14573   Gibraltar
 1    33156243  122987        24127  14496   Gibraltar
 2    31894729  115091        20347  11671   Gibraltar
 3    27207040  101160        18728   9901   Gibraltar
 4    22747382   85545        18713   9017   Gibraltar
 ..        ...     ...          ...    ...         ...
 495   6559795   20984         3390   1308   Gibraltar
 496   6553905   20965         3390   1307   Gibraltar
 497   6553238   20939         3389   1306   Gibraltar
 498   6547967   20932         3372   1301   Gibraltar
 499   6541621   20926         3371   1298   Gibraltar

 [500 rows x 5 columns],
        Damage   Kills Games Played   Wins legend_name
 0    64985762  247981        50639  19516    Lifeline
 1    64972568  247730        44466  17436    Lifeline
 2    52114928  223715        44463  16769    Lifeline
 3    51865811  205881        44461  16769    Lifeline
 4    46537983  200629        33318  13755    Lifeline
 ..        ...     ...          ...    ...         ...
 495  12533760   45382         8767   2823    Lifeline
 496  12521112   45366         8767   2823    Lifeline
 497  12516132   45343         8763   2822    Lifeline
 498  12510221   45323         8751   2822    Lifeline
 499  12506280   45260         8747   2819    Lifeline

 [500 rows x 5 columns],
        Damage   Kills Games Played   Wins legend_name
 0    61337210  259813        40313  14333      Mirage
 1    32709509  129651        34483   9820      Mirage
 2    31986703  125180        29556   9139      Mirage
 3    30340334  124024        28630   8715      Mirage
 4    29459467  123046        25585   8587      Mirage
 ..        ...     ...          ...    ...         ...
 495   8277499   28559         5943   1429      Mirage
 496   8275273   28542         5939   1428      Mirage
 497   8272544   28523         5930   1425      Mirage
 498   8264827   28490         5927   1424      Mirage
 499   8253326   28386         5897   1423      Mirage

 [500 rows x 5 columns],
        Damage   Kills Games Played   Wins legend_name
 0    33238382  173507        30115  12514        Loba
 1    32520579  158898        24258  11879        Loba
 2    32085633  147285        23120   8988        Loba
 3    28179317  144389        22492   8872        Loba
 4    24243777  135741        21645   8864        Loba
 ..        ...     ...          ...    ...         ...
 495   8694463   29150         5863   1618        Loba
 496   8691214   29139         5862   1616        Loba
 497   8686618   29054         5854   1615        Loba
 498   8685994   29049         5842   1612        Loba
 499   8683322   29023         5836   1610        Loba

 [500 rows x 5 columns],
        Damage  Kills Games Played Wins legend_name
 0    19982940  87501        15909  NaN   Newcastle
 1    13879741  74347        10147  NaN   Newcastle
 2    13628212  69243         7332  NaN   Newcastle
 3    12531064  66650         7181  NaN   Newcastle
 4    11693329  62116         7083  NaN   Newcastle
 ..        ...    ...          ...  ...         ...
 495   1245559   5395          888  NaN   Newcastle
 496   1244562   5375          887  NaN   Newcastle
 497   1244382   5368          886  NaN   Newcastle
 498   1243472   5365          885  NaN   Newcastle
 499   1240723   5365          882  NaN   Newcastle

 [500 rows x 5 columns],
        Damage  Kills Games Played Wins legend_name
 0    19080854  99623        14854  NaN     Conduit
 1    19049336  87544        14704  NaN     Conduit
 2    17151471  87201         9136  NaN     Conduit
 3    16017717  79149         8554  NaN     Conduit
 4    14109775  71553         7927  NaN     Conduit
 ..        ...    ...          ...  ...         ...
 495   1850434   9396         1329  NaN     Conduit
 496   1849847   9351         1328  NaN     Conduit
 497   1848894   9351         1328  NaN     Conduit
 498   1848094   9338         1326  NaN     Conduit
 499   1847020   9320         1325  NaN     Conduit

 [500 rows x 5 columns],
        Damage   Kills Games Played   Wins legend_name
 0    43150521  164401        44587  13061     Caustic
 1    40664329  156478        44249  10414     Caustic
 2    32436930  134309        44249  10413     Caustic
 3    32419469  122387        41452  10030     Caustic
 4    29579181  122364        31073   9503     Caustic
 ..        ...     ...          ...    ...         ...
 495   7491837   22910         5043   1159     Caustic
 496   7468423   22891         5034   1159     Caustic
 497   7462910   22887         5024   1159     Caustic
 498   7462194   22876         5017   1158     Caustic
 499   7461038   22860         5015   1158     Caustic

 [500 rows x 5 columns],
        Damage   Kills Games Played   Wins legend_name
 0    47450953  186403        36957  13050     Wattson
 1    41858729  176859        36443  12356     Wattson
 2    41451217  165648        35932   8628     Wattson
 3    35820030  163981        35256   8500     Wattson
 4    34072132  158563        29867   8388     Wattson
 ..        ...     ...          ...    ...         ...
 495   8403465   28717         5352   1472     Wattson
 496   8400599   28693         5350   1470     Wattson
 497   8396610   28672         5314   1470     Wattson
 498   8394866   28670         5310   1470     Wattson
 499   8392658   28666         5305   1464     Wattson

 [500 rows x 5 columns],
        Damage   Kills Games Played  Wins legend_name
 0    44827896  152398        21757  9631     Rampart
 1    36733115  121953        21321  9334     Rampart
 2    30101661  112294        19992  7702     Rampart
 3    29249622  106526        15278  7218     Rampart
 4    20492808   80486        15262  5030     Rampart
 ..        ...     ...          ...   ...         ...
 495   4348726   12714         2569   552     Rampart
 496   4341323   12698         2569   551     Rampart
 497   4340374   12695         2555   550     Rampart
 498   4338471   12678         2550   550     Rampart
 499   4336419   12658         2547   550     Rampart

 [500 rows x 5 columns],
        Damage   Kills Games Played  Wins legend_name
 0    29083842  119406        15149  4441    Catalyst
 1    23673539  113001        13562  4210    Catalyst
 2    16658853   72780        11048  3323    Catalyst
 3    11734370   59009        10095  2364    Catalyst
 4    11688530   55083         8479  2355    Catalyst
 ..        ...     ...          ...   ...         ...
 495   1752140    6767          997   151    Catalyst
 496   1751077    6740          994   150    Catalyst
 497   1750218    6740          990   150    Catalyst
 498   1749964    6737          990   150    Catalyst
 499   1749508    6718          988   150    Catalyst

 [500 rows x 5 columns]]

In [105]:
# Concatenate all legend dataframes
all_legends_df = pd.concat(legend_dataframes, ignore_index=True)

In [106]:
all_legends_df['Legend_Category'] = all_legends_df['legend_name'].map(legend_to_category)

In [107]:
# Before renaming, let's check the columns
print(all_legends_df.columns)
# Rename columns if necessary
# all_legends_df.rename(columns={
#     'damage': 'total_damage',
#     'kills': 'total_kills',
#     'matches_played': 'matches_played',
#     'wins': 'total_wins'
# }, inplace=True)

Index(['Damage', 'Kills', 'Games Played', 'Wins', 'legend_name',
       'Legend_Category'],
      dtype='object')

In [113]:
# Ensure that columns are numeric, forcing invalid values to NaN
all_legends_df['Kills'] = pd.to_numeric(all_legends_df['Kills'], errors='coerce')
all_legends_df['Wins'] = pd.to_numeric(all_legends_df['Wins'], errors='coerce')
all_legends_df['Games Played'] = pd.to_numeric(all_legends_df['Games Played'], errors='coerce')
all_legends_df['Damage'] = pd.to_numeric(all_legends_df['Damage'], errors='coerce')

# Group the dataframe by 'Legend Category'
grouped_legends_df = all_legends_df.groupby('Legend_Category')

# Define a function to apply calculations within each group
def calculate_stats(group):
    group['Kills_per_Win'] = group.apply(lambda row: row['Kills'] / row['Wins'] if pd.notna(row['Wins']) and row['Wins'] > 0 else 0, axis=1)
    group['Kills_per_Match'] = group.apply(lambda row: row['Kills'] / row['Games Played'] if pd.notna(row['Games Played']) and row['Games Played'] > 0 else 0, axis=1)
    group['Damage_per_Match'] = group.apply(lambda row: row['Damage'] / row['Games Played'] if pd.notna(row['Games Played']) and row['Games Played'] > 0 else 0, axis=1)
    return group

# Apply the function to each group and calculate stats
grouped_legends_df.apply(calculate_stats).reset_index(drop=True)

C:\Users\altaa\AppData\Local\Temp\ipykernel_30512\2093161269.py:18: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped_legends_df.apply(calculate_stats).reset_index(drop=True)

,Damage,Kills,Games Played,Wins,legend_name,Legend_Category,Kills_per_Win,Kills_per_Match,Damage_per_Match
0,1335473024,192425,47418,15355.0,Bangalore,Assault,12.531749,4.058058,28163.841242
1,50500034,177520,35645,14088.0,Bangalore,Assault,12.600795,4.980222,1416.749446
2,48186631,172382,32770,13041.0,Bangalore,Assault,13.218465,5.260360,1470.449527
3,45909908,170902,30597,12675.0,Bangalore,Assault,13.483393,5.585580,1500.470896
4,45231990,168326,28659,12637.0,Bangalore,Assault,13.320092,5.873408,1578.282215
...,...,...,...,...,...,...,...,...,...
12995,1850434,9396,1329,NaN,Conduit,Support,0.000000,7.069977,1392.350640
12996,1849847,9351,1328,NaN,Conduit,Support,0.000000,7.041416,1392.957078
12997,1848894,9351,1328,NaN,Conduit,Support,0.000000,7.041416,1392.239458
12998,1848094,9338,1326,NaN,Conduit,Support,0.000000,7.042232,1393.736048
12999,1847020,9320,1325,NaN,Conduit,Support,0.000000,7.033962,1393.977358

In [112]:
all_legends_with_stats_df

,Damage,Kills,Games Played,Wins,legend_name,Legend_Category,Kills_per_Win,Kills_per_Match,Damage_per_Match
0,1335473024,192425,47418,15355.0,Bangalore,Assault,12.531749,4.058058,28163.841242
1,50500034,177520,35645,14088.0,Bangalore,Assault,12.600795,4.980222,1416.749446
2,48186631,172382,32770,13041.0,Bangalore,Assault,13.218465,5.260360,1470.449527
3,45909908,170902,30597,12675.0,Bangalore,Assault,13.483393,5.585580,1500.470896
4,45231990,168326,28659,12637.0,Bangalore,Assault,13.320092,5.873408,1578.282215
...,...,...,...,...,...,...,...,...,...
12995,1850434,9396,1329,NaN,Conduit,Support,0.000000,7.069977,1392.350640
12996,1849847,9351,1328,NaN,Conduit,Support,0.000000,7.041416,1392.957078
12997,1848894,9351,1328,NaN,Conduit,Support,0.000000,7.041416,1392.239458
12998,1848094,9338,1326,NaN,Conduit,Support,0.000000,7.042232,1393.736048
12999,1847020,9320,1325,NaN,Conduit,Support,0.000000,7.033962,1393.977358

In [111]:
all_legends_df.head(10)

       Damage   Kills  Games Played     Wins legend_name Legend_Category
0  1335473024  192425         47418  15355.0   Bangalore         Assault
1    50500034  177520         35645  14088.0   Bangalore         Assault
2    48186631  172382         32770  13041.0   Bangalore         Assault
3    45909908  170902         30597  12675.0   Bangalore         Assault
4    45231990  168326         28659  12637.0   Bangalore         Assault
5    44934583  166350         27171  12104.0   Bangalore         Assault
6    44317988  162274         27153  11816.0   Bangalore         Assault
7    42896122  157981         26569  11749.0   Bangalore         Assault
8    41978290  157477         25995  11548.0   Bangalore         Assault
9    37699061  143286         25267  11412.0   Bangalore         Assault

In [97]:
# # Assuming you have a column 'legend_category' in your DataFrame
# # Group by 'legend_category' and calculate the average for relevant stats
# average_stats_per_category = all_legends_df.groupby('Legend_Category').agg(
#     Average_Kills_per_Win=('Kills_per_Win', 'mean'),
#     Average_Kills_per_Match=('Kills_per_Match', 'mean'),
#     Average_Damage_per_Match=('Damage_per_Match', 'mean')
# ).reset_index()

# # Sort by any of the calculated stats, for example, by 'Average_Kills_per_Match'
# sorted_average_stats = average_stats_per_category.sort_values(by='Average_Kills_per_Match', ascending=False)

# sorted_average_stats

,Legend_Category,Average_Kills_per_Win,Average_Kills_per_Match,Average_Damage_per_Match
3,Skirmisher,15.870937,5.900894,1413.111740
0,Assault,16.145782,5.389439,1529.186712
4,Support,10.926549,5.381843,1375.002465
1,Controller,24.195288,5.117616,1467.854745
2,Recon,19.728249,4.704346,1444.803915